@import "tailwindcss";

@theme {
  --color-primary: #121063;
  --color-primary-foreground: white;
  --color-secondary: #e8eaed;
  --color-secondary-foreground: #1f2937;

  --color-accent: #7e57c2; /* Vibrant Purple */
  --color-accent-foreground: #ffffff; /* White */

  --color-destructive: #e03535;
  --color-destructive-foreground: #fafafa;

  --color-border: #dcdfe3;
  --color-input: #ffffff; /* White for inputs, consistent with cards */
  --color-ring: #4f6edb; /* Primary color for focus rings */

  --color-background: #f0f2f5; /* Light Gray */
  --color-foreground: #1f2937; /* Dark Gray for text */

  --color-card: #ffffff; /* White */
  --color-card-foreground: #1f2937;
}


